body {
    font-family: Arial, sans-serif;
}

div#viewport {
    position: absolute;
    top: 0%;
    width: 100%;
}

#viewport {
    min-height: 100%;
}

.ctr-p {
    margin: 0 auto;
    min-width: 980px;
}

#br {
    position: relative;
    top: 16px;
    font-size: 13px;
    text-decoration: none;
}

#tl {
    position: absolute;
    margin: 7px 0 0 10px;
}

#tl, a {
    display: inline-block;
    color: black;
    padding-left: 15px;
    opacity: .85;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

#logo {
    padding: 190px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }



.gmail_a, .images_a {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    padding-right: 15px;
    text-align: right;
    white-space: nowrap;

}

div {
    display: block;
}

.gmail_a {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;

}

.gmail_a, .images_a, .apps_a .log_in_a {
    flex: 0 1 auto;
    display: flex;
}

.gmail, .images, .apps, .sign_in {
    text-decoration: none;
}

.advertising, .business, .hsw {
    display: inline;
}
#fbar {
    background: gray;
    border-top: 1px solid gray;
    line-height: 10px;
    min-width: 980px;
}
#footer {
    display: block;
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
    background-color: #e3e3e3;
}
.ctr-p {
    margin: 0 auto;
}

.search {
    background: white;
    border: 1px solid gray;
    border-radius: 24px;
    height: 44px;
    margin: auto;
    width: 450px;
}